@charset "utf-8";

body, html, ul, li, dt, dl, dd, h1, h2, h3, h4, p {
	padding: 0;
	margin: 0;
}

img {
	border: 0px;
}

ul {
	list-style: none;
}

body {
	background-color: #fff;
	font-family: "Microsoft YaHei";
	color: #858585;
	font-size: 13px;
}

a {
	text-decoration: none;
	cursor: pointer;
	outline: 0;
	color: inherit;
}

.orange {
	color: #eb4615;
}

.center {
	text-align: center;
}

.error{
	color: red;
}

.clear {
	clear: both;
}

.left {
	float: left;
}

.right {
	float: right;
}

.box {
	display: -webkit-box;
}

.vbox{
	display: -webkit-box;
	-webkit-box-orient: vertical;
}

.boxFlex {
	-webkit-box-flex: 1;
}


.boxCenter {
	-webkit-box-align: center;
	-webkit-box-pack: center;
}


.middle {
	vertical-align: middle;
}

.size0 {
	font-size: 0;
}

.wrapper {
	margin: auto;
	padding: 10px;
	padding-bottom: 50px;
	box-sizing: border-box;
	min-height: 250px;
	min-width: 350px;
}

.inputText {
	border: 1px solid #C8C8C8;
	height: 22px;
	line-height: 22px;
	margin-right: 3px;
	padding: 4px;
	outline: 0;
	font-size: 15px;
	border-radius: 2px;
}

.inputText:focus {
	outline: 0;
	box-shadow: 0 0 3px #6cf;
	border: solid 1px #39f;
}

.m-button{
	box-shadow: 0px 0px 2px;
	display: inline-block;
	padding: 6px 8px;
	background: rgb(136, 129, 129);
	color: #fff;
	border-radius: 3px;
	margin-top: 5px;
	margin-right: 5px;
	cursor: pointer;
	font-size: 14px;
	border: 0;
	outline: 0;
}

.m-button:hover{
	color: rgb(207, 136, 29);
}


.orangeButton {
	background: -webkit-gradient(linear,left top,left bottom,from(#eb6a37),color-stop(50%,#e86736),to(#eb6a37));
	color: #fff !important;
}

.grayButton{
	background: rgb(218, 218, 218);
	padding: 4px 6px;
	font-size: 13px;
	color: #696060;
	box-shadow: 0 0 0;
	border-radius: 1px;
}

.close{
	position: absolute;
	right: 0;
	top:0;
	background: url(../images/close.png?vv=123) no-repeat;
	width: 16px;
	height: 16px;
}

.cover{
	height: 100%;
	width: 100%;
	background: rgba(0,0,0,0.8);
	position: absolute;
	left: 0;
	top: 0;
	color: #fff;
	box-sizing: border-box;
}

.tip{
	position: absolute;
	right: 8px;
	bottom: -40px;
	text-align: center;
	color: #111912;
	font-size: 14px;
	-webkit-transition: bottom 0.5s ease-in-out,opacity 1s linear;
	opacity: 0;
	z-index: 1000000;
}
