.doMoreDiv{
	position: absolute;
	bottom: 10px;
	left: 10px;
}



.addSetDiv input{
	width: 250px;
	margin-bottom: 10px;
	margin-top: 5px;
}

.addSetDiv .m-button:hover{
	color: rgb(207, 136, 29);
}

.setUserAgentDiv{
	display: inline-block;
	position: relative;
}

.doMoreDiv button{
	width: 30px;
	height: 30px;
	outline: 0;
	border: 0;
	background-size: contain;
	background-repeat: no-repeat;
	background-color: inherit;
}

.doMoreDiv button:hover{
	cursor: pointer;
	opacity: 0.5;
}


.doMoreDiv button:disabled{
	opacity: 0.5;
	cursor: default;
}

.closeItem{
	position: absolute;
	right: 2px;
	top: -2px;
	width: 11px;
	height: 14px;
	background: url(../images/close.png) no-repeat;
	background-size: cover;
}

.closeItem:hover{
	cursor: pointer;
}