<div>
    <p><label>Name</label></p>
    <input type="text" id="addUaName" class="inputText" maxlength="20" style="width: 150px;"/>
</div>
<div>
    <p><label>Value</label></p>
    <textarea type="text" id="addUaValue" class="inputText"></textarea>
</div>
<div>
    <a href="#" class="m-button " id="addUaSubmit">Ok</a>
    <a href="#" class="m-button J-dialogClose">Cancel</a>
</div>
